/* You can add global styles to this file, and also import other style files */
.card-radius-10 {
    border-radius: 10px;
    border: 2px solid black;
}

.body-color {
background-color: rgb(177, 129, 72);
height:100vh;
}